# Carpetas de bytecode de Python
__pycache__/
**/__pycache__/
utils/delays/__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm / IntelliJ
.idea/

# Archivos compilados
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env/

# Archivos temporales de IDEs
.vscode/
.idea/

# medidas
./measures